<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Theam_Navigation>
            <version>1.0.0.0</version>
        </Theam_Navigation>
    </modules>
    <global>
        <models>
            <theam_navigation>
                <class>Theam_Navigation_Model</class>
                <resourceModel>theam_navigation_model_resource</resourceModel>
            </theam_navigation>
            <theam_navigation_model_resource>
                <class>Theam_Navigation_Model_Resource</class>
                <entities>
                    <menu>
                        <table>theam_megamenu_menu</table>
                    </menu>
                    <element>
                        <table>theam_megamenu_element</table>
                    </element>
                    <update>
                        <table>theam_megamenu_update</table>
                    </update>
                </entities>
            </theam_navigation_model_resource>
        </models>
        <helpers>
            <theam_navigation>
                <class>Theam_Navigation_Helper</class>
            </theam_navigation>
        </helpers>
        <blocks>
            <theam_navigation>
                <class>Theam_Navigation_Block</class>
            </theam_navigation>
        </blocks>
        <resources>
            <theam_navigation_setup>
                <setup>
                    <module>Theam_Navigation</module>
                    <class>Theam_Navigation_Model_Resource_Setup</class>
                </setup>
            </theam_navigation_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <theam_navigation>
                    <file>theam/navigation.xml</file>
                </theam_navigation>
            </updates>
        </layout>
    </frontend>
</config>