<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Theam_Base>
            <version>1.0.0.0</version>
        </Theam_Base>
    </modules>
    <global>
        <models>
            <theam_base>
                <class>Theam_Base_Model</class>
                <resourceModel>theam_base_model_resource</resourceModel>
            </theam_base>
            <theam_base_model_resource>
                <class>Theam_Base_Model_Resource</class>
            </theam_base_model_resource>
        </models>
        <helpers>
            <theam_base>
                <class>Theam_Base_Helper</class>
            </theam_base>
        </helpers>
        <blocks>
            <theam_base>
                <class>Theam_Base_Block</class>
            </theam_base>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <theam_base after="Mage_Adminhtml">Theam_Base_Adminhtml</theam_base>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <theam_base>
                    <file>theam/base.xml</file>
                </theam_base>
            </updates>
        </layout>
        <translate>
            <modules>
                <theam_base>
                    <files>
                        <default>Theam_Base.csv</default>
                    </files>
                </theam_base>
            </modules>
        </translate>
    </adminhtml>

    <frontend>
        <layout>
            <updates>
                <theam_base>
                    <file>theam/catalog.xml</file>
                </theam_base>
            </updates>
        </layout>
    </frontend>
</config>