<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Theam_Design>
            <version>1.0.0.0</version>
        </Theam_Design>
    </modules>
    <global>
        <models>
            <theam_design>
                <class>Theam_Design_Model</class>
                <resourceModel>theam_design_model_resource</resourceModel>
            </theam_design>
            <core>
                <rewrite>
                    <design_package>Theam_Design_Model_Design_Package</design_package>
                </rewrite>
            </core>
            <theam_design_model_resource>
                <class>Theam_Design_Model_Resource</class>
            </theam_design_model_resource>
        </models>
        <helpers>
            <theam_design>
                <class>Theam_Design_Helper</class>
            </theam_design>
        </helpers>
        <blocks>
            <theam_design>
                <class>Theam_Design_Block</class>
            </theam_design>
        </blocks>
    </global>
</config>