<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <theam_review translate="label" module="theam_review">
            <class>separator-top</class>
            <label>Review</label>
            <tab>theam</tab>
            <frontend_type>text</frontend_type>
            <sort_order>600</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <advanced translate="label comment" module="theam_review">
                    <label>Advanced</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_frontend_enabled translate="label comment" module="theam_review">
                            <label>Enable Reviews Frontend</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_frontend_enabled>
                    </fields>
                </advanced>
            </groups>
        </theam_review>
    </sections>
</config>