<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Theam_Customer>
            <version>1.0.0.0</version>
        </Theam_Customer>
    </modules>
    <global>
        <models>
            <theam_customer>
                <class>Theam_Customer_Model</class>
                <resourceModel>theam_customer_model_resource</resourceModel>
            </theam_customer>
            <theam_customer_model_resource>
                <class>Theam_Customer_Model_Resource</class>
            </theam_customer_model_resource>
        </models>
        <helpers>
            <theam_customer>
                <class>Theam_Customer_Helper</class>
            </theam_customer>
        </helpers>
        <blocks>
            <theam_customer>
                <class>Theam_Customer_Block</class>
            </theam_customer>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <theam_customer>
                    <file>theam/customer.xml</file>
                </theam_customer>
            </updates>
        </layout>
        <events>
            <customer_login>
                <observers>
                    <theam_customer>
                        <class>theam_customer/observer</class>
                        <method>customerLogin</method>
                    </theam_customer>
                </observers>
            </customer_login>
            <controller_action_postdispatch_customer_account_logoutSuccess>
                <observers>
                    <theam_customer>
                        <class>theam_customer/observer</class>
                        <method>customerLogout</method>
                    </theam_customer>
                </observers>
            </controller_action_postdispatch_customer_account_logoutSuccess>
            <wishlist_save_after>
                <observers>
                    <theam_customer>
                        <class>theam_customer/observer</class>
                        <method>updateWishList</method>
                    </theam_customer>
                </observers>
            </wishlist_save_after>
        </events>
    </frontend>

    <default>
        <general>
            <store_information>
                <display_map>1</display_map>
                <longitude>51.014733</longitude>
                <latitude>5.730851</latitude>
            </store_information>
        </general>
    </default>
</config>