<?xml version="1.0"?>
<config>
    <modules>
        <Theam_Booking>
            <version>1.6.0.0</version>
        </Theam_Booking>
    </modules>
    <frontend>
        <routers>
            <theam_booking>
                <use>standard</use>
                <args>
                    <module>Theam_Booking</module>
                    <frontName>tbooking</frontName>
                </args>
            </theam_booking>
        </routers>
        <translate>
            <modules>
                <Theam_Booking>
                    <files>
                        <default>Theam_Booking.csv</default>
                        <fallback>Mage_Contacts.csv</fallback>
                    </files>
                </Theam_Booking>
            </modules>
        </translate>
        <layout>
            <updates>
                <Theam_Booking>
                    <file>theam/booking.xml</file>
                </Theam_Booking>
            </updates>
        </layout>
        <jstranslate>
            <file>jstranslator.xml</file>
        </jstranslate>
    </frontend>
    <global>
        <resources>
            <theam_booking_setup>
                <setup>
                    <module>Theam_Booking</module>
                </setup>
            </theam_booking_setup>
        </resources>
        <template>
            <email>
                <theam_booking_email_email_template translate="label" module="theam_booking">
                    <label>Booking Contact Form</label>
                    <file>theam/booking/contact_form.html</file>
                    <type>text</type>
                </theam_booking_email_email_template>
            </email>
        </template>
        <helpers>
            <theam_booking>
                <class>Theam_Booking_Helper</class>
            </theam_booking>
        </helpers>
        <blocks>
            <theam_booking>
                <class>Theam_Booking_Block</class>
            </theam_booking>
        </blocks>
        <models>
            <theam_booking>
                <class>Theam_Booking_Model</class>
            </theam_booking>
        </models>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <Theam_Booking>
                    <files>
                        <default>Theam_Booking.csv</default>
                    </files>
                </Theam_Booking>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <theam_booking>
            <contacts>
                <enabled>1</enabled>
            </contacts>
            <email>
                <recipient_email><![CDATA[hello@example.com]]></recipient_email>
                <sender_email_identity>custom2</sender_email_identity>
                <email_template>theam_booking_email_email_template</email_template>
            </email>
        </theam_booking>
    </default>
</config>
